---
import "../../tailwind.css";
import Navbar from "../../components/Navbar.astro";
import CriticalStyles from "../../components/CriticalStyles.astro";
import TallerDetail from "../../components/TallerDetail.astro";

// Import images directly
import mainImage from "/public/talleres/canceleria/main.webp";
import aluminioImage from "/public/talleres/canceleria/aluminio.webp";
import pvcImage from "/public/talleres/canceleria/pvc.webp";

// Define options for cancelería
const options = [
    {
        id: "aluminio",
        title: "Cancelería en aluminio",
        description:
            "<strong>Expertos en cancelería de aluminio</strong> nacional, así como certificados en la fabricación de cancelería Eurovent, para crear lo que su obra requiere, utilizando cristales claros, oscurecidos y templados.",
        image: aluminioImage,
    },
    {
        id: "pvc",
        title: "Cancelería en PVC",
        description:
            "Canceles <strong>fabricados bajo normas europeas</strong> con perfiles alemanes de PVC, de doble cristal y herrajes perimetrales. Permiten crear <strong>ambientes confortables</strong> totalmente herméticos, protegidos de factores ambientales como el ruido y el clima.",
        image: pvcImage,
    },
];

// Main description

const titulo = "Cancelería de Diseño";
const description =
    "Proveemos <strong>cancelería de aluminio, PVC y cristal templado</strong> de la masalta calidad y buen gusto, con diseños elegantes y funcionales, creando ambientesúnicos tanto en fachadas como en interiores. Satisfacemos sus necesidades residencialesy comerciales, tanto para <strong>proyectos individuales como producción en serie para proyectos a granescala.</strong>";

// Navigation routes
const prevTaller = "/talleres/herreria";
const nextTaller = "/talleres/acabados";
---

<html>
    <head>
        <title>{titulo}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <CriticalStyles />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Lato:wght@300;400;700&family=Poppins:wght@500;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <Navbar />

        <TallerDetail
            title={titulo}
            mainImage={mainImage}
            description={description}
            options={options}
            prevTaller={prevTaller}
            nextTaller={nextTaller}
        />
    </body>
</html>

<style>
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
</style>
